
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

* {
  margin: 0;
}

h1, h2, h3, h4 {
  text-align: center;
}

section.footer {
}

body, html {
  height: 100%;
  padding: 0;
}

body {
  font-family: 'Philosopher', sans-serif; 
  width: 100%;
  height: 100%;
  position: relative;
}

html {
  overflow-y: scroll;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  .main-container {
    overflow: auto;
    width: 100%;
    min-height: 100%;
    # height: auto !important;
    margin: 0px 0px -50px 0px;
    :after {
      content: "";
      display: block;
    }
  }

  // .mainpage {
  //   width: 100%;
  //   padding: 0 0 50px 0;
  // }

  section.footer-container {
    width: 100%;
    height: 50px;
    margin-top: 0;
  }

  footer {
    position: relative;
    background-color: #000;
    width: 100%;
    height: 50px;
    padding: 0 5px 5px 20px;
    margin-left: 15px;
    color: #FFF;
    a {
      color: #ccc;
      &:hover {
        color: #666;
      }
    }
    section {
      float: left;
      display: inline-block;
      color: #9e9e9e;
      line-height: 1.5;
      p {
       
      }
    }
  }
}

/* Extra small devices, Phones */
@media only screen and (min-width : 480px) {  

}

/* Small devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Media Devices, Desktops */
@media only screen and (min-width : 992px) {
}